<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.finalproject.listeners.MyServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>RegistrationServlets</servlet-name>
        <servlet-class>com.finalproject.servlets.RegistrationServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlets</servlet-name>
        <servlet-class>com.finalproject.servlets.LoginServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlets</servlet-name>
        <servlet-class>com.finalproject.servlets.UpdateServlets</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlets</servlet-name>
        <url-pattern>/RegistrationServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlets</servlet-name>
        <url-pattern>/LoginServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlets</servlet-name>
        <url-pattern>/UpdateServlets</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>user</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value/>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://localhost/projectdb</param-value>
    </context-param>
    <context-param>
        <param-name>classname</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
        <!--<param-value>org.apache.derby.jdbc.ClientDriver</param-value>-->
    </context-param>
</web-app>
